.Title {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 100px;
    font-display: block;
    color: white;
    text-align:center;
    margin-top: 100px;
}

.background {
    background-color: lavender;
}

.custom-nav{
    background-color: lavender;
    color:white
}

